@font-face {
  font-family: 'MyriadProBoldCondensed';
  src: url('../fonts/myriadpro-boldcond.eot');
  src: url('../fonts/myriadpro-boldcond.eot') format('embedded-opentype'),
  url('../fonts/myriadpro-boldcond.woff') format('woff'),
  url('../fonts/myriadpro-boldcond.ttf') format('truetype'),
  url('../fonts/myriadpro-boldcond.svg#MyriadProBoldCondensed') format('svg');
}

@font-face {
  font-family: 'MyriadProRegular';
  src: url('../fonts/myriadpro-regular.eot');
  src: url('../fonts/myriadpro-regular.eot') format('embedded-opentype'),
  url('../fonts/myriadpro-regular.woff') format('woff'),
  url('../fonts/myriadpro-regular.ttf') format('truetype'),
  url('../fonts/myriadpro-regular.svg#MyriadProRegular') format('svg');
}


