@jspBlueDark: #002f58;
@jspBlue: #005090;
@jspOrange: #fab600;
@jspGray: #cfcfcf;


// Inverted navbar
@navbarInverseBackground:                #4F0902;
@navbarInverseBackgroundHighlight:       #8F1003;
@navbarInverseBorder:                    #750D03;

@navbarInverseText:                      @jspOrange;
@navbarInverseLinkColor:                 @jspOrange;