.span-over (@columnWidth, @gutterWidth, @columns, @oversize) {
  width: (@columnWidth * @columns) + (@gutterWidth * (@columns - 1)) + @oversize;
}

.text-shadow(){
  color: @actionsNavbarLinkColor;
  text-shadow: 0 1px 0 @actionsBackground;
}