@bodyBackground: #33383e;
@layoutBackground: #3e5997;

@sidebarBackground: #717a86;
@sidebarBackgroundHighlight: #505965;
@sidebarBorderTop: #505965;
@sidebarBorderBottom: #33373d;

@actionsNavbarLinkColor: #232428;
@actionsNavbarHeight: 70px;
@actionsBackground: #717a86;
@actionsBackgroundHighlight: #505965;
@actionsBorderBottom: #232428;

// Buttons
@btnDefaultColor:                 #232428;
@btnDefaultBorder:                 #505965;
@btnDefaultBackground: lighten(#717a86, 30%);
@btnDefaultBackgroundHighlight: lighten(#505965, 20%);

@btnPrimaryColor:                 #232428;
@btnPrimaryBackground:            #717a86;
@btnPrimaryBackgroundHighlight:   #505965;

@btnInfoBackground: #2799db;
@btnInfoBackgroundHighlight: darken(#2799db, 10%);

@btnWarningBackground:              #e9c316;
@btnWarningBackgroundHighlight:     darken(@btnWarningBackground, 10%);

// Form    1
@formActionsBackground: lighten(@bodyBackground, 30%);
@inputBackground: darken(@bodyBackground,10%);
@inputBorder: lighten(@bodyBackground, 20%);

// Alerts
@successBackground: #2799db;
@errorBackground: #c9253e;

// Table
@actionsTableBackground: #3b424a;


@sidebarActiveBackground: #44c6eb;
@sidebarActiveBackgroundHighlight: #2799db;
@sidebarActiveBorderTop: #6ad2ef;
@sidebarActiveBorderBottom: #1a638f;

//@paginationColor: #17677e;
//@paginationTextShadow:  #8bccde;
//@paginationBgTop: #6ac4de;
//@paginationBgBottom: #3da5c2;
//@paginationBorderTop: #9fdaec;
//@paginationBorderLeft: #8bccde;

@paginationColor: #1a638f;
@paginationTextShadow:  #8bccde;
@paginationBgTop: #6ac4de;
@paginationBgBottom: #2799db;
@paginationBorderTop: #9fdaec;
@paginationBorderLeft: #8bccde;


@navbarBadgeBorder: #d0d0d3;

@sansFontFamily: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
//@headingsFontWeight: 300;
